<section class="settingsForm">
    <toaster-container></toaster-container>

    <h3>Base settings:  <button (click)="newUser()">New User</button></h3>

    <form (ngSubmit)="saveUsers()" class="form-inline">
        <div class="panel-group" id="accordion" role="tablist"
             [attr.aria-multiselectable]="true">
            <div *ngFor="let user of getUsers();  let i = index" class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{i}}">
                    <h4 class="panel-title test">
                        <a
                                role="button"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#collapse{{i}}"
                                [attr.aria-expanded]="true"
                                [attr.aria-controls]="getCollapse(i)"
                        >
                            {{ getTitle(user, i) }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="getHeading(i)">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control"  required [(ngModel)]="user.environment" name="environment{{i}}" >
                                <option *ngFor="let p of environments" [value]="p.value">{{p.label}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input [(ngModel)]="user.name" type="text" name="usename{{i}}" class="form-control name" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label>Token</label>
                            <input [(ngModel)]="user.token" type="text" name="usertoken{{i}}" class="form-control token" placeholder="Token">
                        </div>
                        <div class="form-group">
                            <label>Refresh Rate</label>
                            <select class="form-control"  required  [(ngModel)]="user.refreshRate" name="refresh{{i}}" >
                                <option *ngFor="let p of refreshrates" [value]="p.value">{{p.label}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button (click)="remove(i)">
                                x
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <form (ngSubmit)="generateToken()">
        <div class="form-group">
            <label for="githubtoken">Github token</label>
            <input [(ngModel)]="githubToken" name="token" type="text" class="form-control" id="githubtoken"
                   placeholder="Enter github token travis token will be generated">
        </div>
        <span>{{travisToken}}</span>
        <br/>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
